TELEGRAM_BOT_TOKEN=
TELEGRAM_CHAT_ID=
GOOL_SPORT_MODE=shadow
RUNTIME_DATA_DIR=/home/container/gool_sport_data
GOOL_SPORT_INTERVAL_SECONDS=20
GOOL_SPORT_MAX_MAPPED_PER_SPORT=120
GOOL_SPORT_GAME_WORKERS=8
GOOL_SPORT_HISTORY_KEEP_BYTES=8388608
GOOL_BASKETBALL_ENABLED=1
GOOL_HOCKEY_ENABLED=1
GOOL_SPORT_MIN_ODD=1.45
GOOL_SPORT_MAX_ODD=3.25
GOOL_SPORT_MIN_FAIR_EDGE_PP=3.0
